<app-header></app-header>

<h2 id="flagged_accounts_title"><b>Flagged Accounts</b></h2>

    <div class="col" id="flagged_accounts_export_div">

       <input type="button" id="btnExport" class="btn btn-outline-info" 
        onclick="export_table_to_excel('nonmatchingaccounts_table', 'xlsx', 'Non Matching')" value="Export to Excel"/> 

    </div>

<table id="nonmatchingaccounts_table">

  <tbody>
      <tr id="nonmatchingaccounts_th" >

          <td>Name</td>
          <td>Company</td>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Last Changed On</td>
          <td>Last Changed By</td>
          <td>Type Name</td>
          <td>Email</td>
      
      </tr>
      <tr></tr>
      
    <tr *ngFor="let x of nonmatchingaccounts; let i=index;" id="nonmatchingaccounts_tr">
      <td>{{x.name}}</td>
      <td>{{x.companyname}}</td>
      <td>{{x.firstname}}</td>
      <td>{{x.lastname}}</td>
      <td>{{x.lastchangedon}}</td>
      <td>{{x.lastchangedby}}</td>
      <td>{{x.typename}}</td>
      <td>{{x.email}} </td>
    </tr>
  </tbody>
</table>
