<app-header></app-header>

<h2 id="flagged_accounts_title"><b>Flagged Accounts</b></h2>


  <div>
     <div class="col" id="flagged_accounts_export_div"> 

      <div class="btn-group mr-2" role="group">
       <input type="button" id="btnExport" class="btn btn-outline-info" 
        onclick="export_table_to_excel('nonmatchingaccounts_table', 'xlsx', 'Non Matching')" value="Excel"/> 
      </div>

    
    <div class="btn-group mr-2" role="group">
      <input type="button" id="btnPDF" class="btn btn-outline-info" 
       onclick="export_pdf('nonmatchingaccounts_table','Non Matching')" value="PDF"/> 
    </div>

  </div>  
</div>
  <!-- <div id="editor"></div> -->

<div  id="nonmatchingaccounts_table">
<table>
  <!-- <thead style="display:none"> -->
  
    <thead>
        <!-- <tr style="display:none">
        -->
        <tr id="nonmatchingaccounts_th" >
          <th>Name</th>
          <th>Company</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Last Changed On</th>
          <th>Last Changed By</th>
          <th>Type Name</th>
          <th>Email</th>
      
      </tr>
 
    </thead>
 
    <tbody>
    <!-- excel -->
      <!-- <tr id="nonmatchingaccounts_th" >

          <td>Name</td>
          <td>Company</td>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Last Changed On</td>
          <td>Last Changed By</td>
          <td>Type Name</td>
          <td>Email</td>
      
      </tr> -->
      <tr></tr>
      
      <tr>
          <td colspan="10" style="text-align:center; padding-right: 15px;" *ngIf="loading">
            <img src="../../assets/img/loading.gif" alt="loading" width="100" height="100"> </td>
      </tr>
      
    <tr *ngFor="let x of nonmatchingaccounts; let i=index;" id="nonmatchingaccounts_tr">
      <td>{{x.name}}</td>
      <td>{{x.companyname}}</td>
      <td>{{x.firstname}}</td>
      <td>{{x.lastname}}</td>
      <td>{{x.lastchangedon}}</td>
      <td>{{x.lastchangedby}}</td>
      <td>{{x.typename}}</td>
      <td>{{x.email}} </td>
    </tr>
  </tbody>
</table>
</div>
