#nonmatchingaccounts_table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    margin-left: 5px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  #nonmatchingaccounts_tr:nth-child(even) {
    background-color: #dddddd;

  }
  #nonmatchingaccounts_th{
    font-weight: bold;
    font-size: 16px;
  }
  #flagged_accounts_title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #flagged_accounts_export_div{
    padding-bottom: 5px;
  }