<app-header></app-header>

<h2 id="balance_by_contact_title"><b>Balances By Contact</b></h2>

<div class="topnav">
	<input #entityname type="text" placeholder="Search.." (keyup.enter)="getBalanceByContact(entityname.value)">
</div>

<div style="height:400px; overflow:auto;">

	<table id="balancebycontact_table">
		<thead id="balancebycontact_tr">
			<th>Name</th>
			<th>Account Number</th>
			<th>Type Name</th>
			<th>Account Name</th>
			<th>Description</th>
			<!-- <th>GlobalEntityID</th> -->
			<!-- <th>CATRANSACTIONID</th> -->
			<th>Transaction Type</th>
			<th>Transaction Date</th>
			<th>Receipt Number</th>
			<th>Payment Amount</th>
			<th>Received By</th>
			<th>Payment Date</th>
			<th>Payment Method</th>
			<!-- <th>Payment Amount</th> -->
			<th>Deposit</th>
			<th>Withdrawl</th>
			<th>Balance</th>
		</thead>

		<tbody>
			<tr *ngFor="let x of balancebycontact; let i=index;" id="balancebycontact_tr">
				<td>{{x.transGlobalName}}</td>
				<td (click)="onAccountSelection(x.accountNumber)" style="color:#071D99;cursor: pointer;">
					<strong>{{x.accountNumber}}</strong>
				</td>
				<td>{{x.typeName}}</td>
				<td>{{x.accountName}}</td>
				<td>{{x.description}}</td>
				<!-- <td>{{x.globalEntityId}} </td> -->
				<!-- <td>{{x.caTransactionId}} </td> -->
				<td>{{x.transactionType}} </td>
				<td>{{x.transactionDate}} </td>
				<td>{{x.receiptNumber}} </td>
				<td>{{x.paymentAmount1}} </td>
				<td>{{x.receivedBy}} </td>
				<td>{{x.paymentDate}} </td>
				<td>{{x.paymentMethod}} </td>
				<!-- <td>{{x.paymentAmount2}} </td> -->
				<td>{{x.deposit}} </td>
				<td>{{x.withdrawal}} </td>
				<td>{{x.balance}} </td>
			</tr>

		</tbody>
	</table>
</div>

<div>
	<app-transhistory *ngIf="currentselection" [selectedbyuser]="currentselection"></app-transhistory>
</div>