#plan_trans_history_table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    font-size: 14px;
    margin: 10px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  #plan_history_wrapper{
    align-content:center;
  }