#all_account_balances_table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    overflow: hidden;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
  }
  
  #all_account_balances_tr:nth-child(even) {
    background-color: #dddddd;
  }

  #all_account_balances_th{
    font-weight: bold;
    font-size: 16px;
  }

  #all_account_balances_title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #all_account_balance_search_div{
    padding-right: 5%;

  }

