<app-header></app-header>

<div>

  <h2 id="all_account_balances_title"><b>All Account Balances</b></h2>

  <div class="row">


     <div class="col">
 
      <input type="button" id="btnExport" class="btn btn-outline-info" 
    onclick="export_table_to_excel('all_account_balances_table', 'xlsx', 'All Account Balances')" value="Export to Excel"/> 

    </div> 


    <div class="col" id="all_account_balance_search_div">
      <div class="float-right">

        <form>
          <div class="form-row align-items-center">

            <div class="col-auto">
              <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Search...">
            </div>

          </div>
        </form>

      </div>
    </div>

  </div>


  <div style="overflow-x:auto">

    <table id="all_account_balances_table">


      <tbody>
          <tr id="all_account_balances_th">
              <td scope="col">Plan Number</td>
              <td scope="col">Service Area</td>
              <td scope="col">SUP_DIST</td>
              <td scope="col">Company Name</td>
              <td scope="col">First Name</td>
              <td scope="col">Last Name</td>
              <td scope="col">Account Name</td>
              <td scope="col">Account Description</td>
              <td scope="col">Balance</td>
              <td scope="col">Account Type</td>
          </tr>
          <tr></tr>

        <!-- <tr *ngFor="let x of allaccountbalances; let i=index;" id="all_account_balances__tr">
          <td>{{x.planNumber}}</td>
          <td>{{x.serviceArea}}</td>
          <td>{{x.supDist}}</td>
          <td>{{x.companyName}}</td>
          <td>{{x.firstName}}</td>
          <td>{{x.lastName}}</td>
          <td>{{x.acctName}}</td>
          <td>{{x.acctDesc}} </td>
          <td>{{x.balance}}</td>
          <td>{{x.accountType}} </td>
        </tr> -->
      </tbody>

    </table>

  </div>

</div>