<app-header></app-header>

<h2 id="balance_by_plan_title"><b>Balances By Plan</b></h2>

<div class="balance_by_plan_topnav">
	<input #entityname type="text" placeholder="Search.." (keyup.enter)="getBalanceByPlan(entityname.value)">
</div>

<div style="overflow-x:auto">

	<div style="overflow-x:auto;">

		<table id="balance_by_plan_table">

			<thead id="balancebyplan_tr">
				<th>Name</th>
				<th>Plan Number</th>
				<th>Account Number</th>
				<th>Type Name</th>
				<th>Account Name</th>
				<th>Description</th>
				<th>Transaction Type</th>
				<th>Transaction Date</th>
				<th>Receipt Number</th>
				<th>Payment Amount</th>
				<th>Received By</th>
				<th>Payment Date</th>
				<th>Payment Method</th>
				<th>Deposit</th>
				<th>Withdrawl</th>
				<th>Balance</th>
			</thead>

			<tbody>

				<tr *ngFor="let x of balancebyplan; let i=index;" id="balancebyplan_tr">
			<td >{{x.transGlobalName}}</td>
			<td (click)="onPlanSelection(x.planNumber)" style="color:#071D99;cursor: pointer;">
				<strong>{{x.planNumber}}</strong>
			</td>
			<td (click)="onAccountSelection(x.accountNumber)" style="color:#071D99;cursor: pointer;">
				<strong>{{x.accountNumber}}</strong>
			</td>
			<td>{{x.typeName}}</td>
			<td>{{x.accountName}}</td>
			<td>{{x.description}}</td>
			<td>{{x.transactionType}} </td>
			<td>{{x.transactionDate}} </td>
			<td>{{x.receiptNumber}} </td>
			<td>{{x.paymentAmount1}} </td>
			<td>{{x.receivedBy}} </td>
			<td>{{x.paymentDate}} </td>
			<td>{{x.paymentMethod}} </td>
			<td>{{x.deposit}} </td>
			<td>{{x.withdrawal}} </td>
			<td>{{x.balance}} </td>
			</tr>

			</tbody>

		</table>

	</div>
</div>
<div>
	<app-planhistory *ngIf="planselection" [selectedbyuser]="planselection"></app-planhistory>
</div>
<div>
	<app-transhistory *ngIf="acctselection" [selectedbyuser]="acctselection"></app-transhistory>
</div>