#balancebyplan_table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  #balancebyplan_tr:nth-child(even) {
    background-color: #dddddd;
  }

  #balance_by_plan_title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }