#la_county_logo{
    float: center;
    padding-right: 20px;
}

#csula_logo{
    float: center;
    padding-left: 20px;
}

#header_wrapper{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('../../assets/img/los_angeles.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    padding-top: 5px;
}

#main_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(16, 64, 87);
  }
  
  #menu_item {
    float: left;
    border-right:1px solid #bbb;
  }
  
  #menu_item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #menu_item a:hover {
    background-color: rgb(155, 156, 75);
  }

  #website_title {
    background: inherit;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: invert(1) grayscale(1) contrast(9) drop-shadow(.05em .05em rgb(255, 255, 255));
  }