<app-header></app-header>
<div id="homepage_wrapper">

    <h3 id="homepage_title"> Drawdown Interface </h3>

    <p id="homepage_generic_text">
        Cal State LA ECST Senior Design Project - Sponsored by LA County, Regional Planning
        <br>
        <u>Students:</u> Pranil Dahal, Iovanni Enriquez, Wesley Hwang, Cesar Rojas, Vay Tang
        <br>
        <u>Advisor:</u> Yuqing Zhu
        <br>
        <u>Liaison:</u> Tony Alvarez
    </p>

    <hr>

    <p id="homepage_generic_text">
        The Los Angeles County Department of Regional Planning does not have an application that can centralize all data
        that is related to Deposit Accounts. Because of this, ad hoc reports are constantly being created to track these
        accounts.
        <br>
        Drawdown Interface (DDI) will allow users to run custom reports on deposit data, as well as provide as mechanism
        to drill into more specific data about the respective plans, case, and account.
        <br>
        <br>
        DDI will act as a central location to access account data, and provide data access to different subdivisions
        such as:
    </p>

    <ul id="homepage_generic_text">
        <li>Budget and accounting</li>
        <li>Zoning enforcement</li>
        <li>System analysis </li>
    </ul>

    <hr>

    <h4 id="homepage_generic_text">DDI will allow users to perform four major functions:</h4>

    <p id="homepage_generic_text">
        I. <u>Individual Balance by Plan</u> - DDI will list all the accounts categorized by plan. Users can select a
        plan, and
        view details about that specific plan. The details will include all the accounts related to the plan, the
        contact
        information for each of those accounts, transaction history for each account, etc.

        <br>
        II. <u>Individual Balance by Contact</u> - DDI will list all the accounts organized by contact. For each
        contact, users
        can
        view all the related cases, account balances, transaction history, etc.

        <br>
        III. <u>Non-Matching Account Alert</u> - All account numbers must match a case number. There are entries in the
        LA
        County
        Database where this constraint is not satisfied. DDI will filter out those accounts and allow users to send an
        email
        to the respective contact for each account, notifying them to change their information in the database to
        satisfy
        this constraint.

        <br>
        IV. <u>All Account Balances</u> - DDI will also list all the accounts and the balances in the database, with
        various
        filters. Users
        can categorize the accounts based on LA County Regions, transactions dates, contact names, etc.

    </p>

    <hr>

    <h4 id="homepage_generic_text">Documents</h4>

    <p id="homepage_generic_text">
        <a
            href="https://csns.calstatela.edu/department/cs/project/resource/view?projectId=6636926&resourceId=6831291"  target="_blank">DDI_Software_Requirements_Specification</a>
        <br>
        <a
            href="https://csns.calstatela.edu/department/cs/project/resource/view?projectId=6636926&resourceId=6831455"  target="_blank">DDI_Software_Design_Document</a>
    </p>

</div>